.welcome {
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* SECÈšIUNE TRASEE  */
.trasee h2 {
  padding-top: var(--spacing-large);
}

.trasee h2,
.trasee .main-paragraph {
  margin-bottom: var(--spacing-large);
  text-align: center;
}

/* //// */

.trasee-container {
  display: flex;

  /* gap: 2rem; */
  flex-wrap: wrap;
}

.trasee-wrapper {
  flex-basis: calc(100% / 3);

  padding: 0 var(--spacing-small);
  margin-bottom: var(--spacing-small);
}

/* ZONE DE EXPLORAT */

.traseu {
  border: 1px solid #ddd;
  padding: var(--spacing-tiny);
}

.traseu img {
  width: 0%;
  object-fit: cover;
  height: auto;
  max-height: 200px;

  margin-bottom: var(--spacing-large);
}

.traseu h3 {
  margin-bottom: var(--spacing-medium);
}

.traseu .content {
  padding: 0 var(--spacing-small);
  margin-bottom: var(--spacing-small);
}

.traseu a {
  font-size: var(--fs-medium);
  text-align: center;

  color: var(--text-light);
  background-color: var(--button-color);

  border: 1px solid var(--button-color);
  border-radius: 5px;
  padding: var(--spacing-tiny);

  width: 100px;
}

.traseu .info {
  margin-bottom: var(--spacing-medium);
}

.info span {
  margin-right: var(--spacing-small);
}

/* /// */

/* MOBILE STYLING */

@media (max-width: 992px) {
  .traseu-wrapper {
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .traseu-wrapper {
    flex-basis: 100%;
  }
  .welcome h1 {
    font-size: 2rem;
  }
}


@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
  font-family: "Raleway Medium", sans-serif;
}
.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}
